<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to Black SDA History<br />
        by Cogs Web Development and Hosting</h1>
        <p>This is the prototype and preview to the redesign of <a href="blacksdahistory.org"></a>blacksdahistory</p>
      </header>
      <p>This is a more modern design and implements many newer development and design techniques to keep editing and managing the site as easy as possible for future moderators.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
