<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to Black SDA History<br />
        by Cogs Web Development and Hosting</h1>
        <p>This is the prototype and preview to the redesign of <a href="blacksdahistory.org"></a>blacksdahistory</p>
      </header>
      <p><strong>blacksdahistory.org</strong> is a website committed to providing free information on African American Seventh-day Adventist history. Its goal is to convey the richness, diversity, and excellence in this movement, but above all to chronicle the unsurpassed triumphs that the hand of Providence has so graciously afforded.</p>
      <ul class="actions">
        <li><a href="#learn_more" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/blacksdahistory/imgs/header.jpg" alt="" />
    </span>
  </section>
