<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}">Homepage</a></li>
            <li><a href="{{ 'about.html' | absolute_url }}">About This Site</a></li>
            <li><a href="{{ 'quotes.html' | absolute_url }}">Quotes</a></li>
            <li><a href="{{ 'online_research.html' | absolute_url }}">Online Research</a></li>
            <li>
              <span class="opener">Timeline</span>
              <ul>
                <li><a href="#">1800-1862</a></li>
                <li><a href="#">1863-1899</a></li>
                <li><a href="#">1900-1944</a></li>
                <li><a href="#">1945-1989</a></li>
                <li><a href="#">1990-Present</a></li>
              </ul>
            </li>
            <li><a href="#">Group Photos</a></li>
            <li><a href="#">101 Facts</a></li>
            <li><a href="#">Latest Discoveries</a></li>
            <li><a href="#">Brief Histories</a></li>
            <li><a href="#">Firsts</a></li>
            <li><a href="#">People You Should Know</a></li>

            <li>
              <span class="opener">Free Materials</span>
              <ul>
                <li><a href="#">Books</a></li>
                <li><a href="#">Periodicals</a></li>
                <li><a href="#">Selected Documents</a></li>
                <li><a href="#">Spectrum Articles</a></li>
                <li><a href="#">Academic Works</a></li>
              </ul>
            </li>     

            <li>
              <span class="opener">Regional Conferences</span>
              <ul>
                <li><a href="#">RC Websites</a></li>
                <li><a href="#">Documents</a></li>
                <li><a href="#">RC Presidents</a></li>
                <li><a href="#">Negro Department</a></li>
                <li><a href="#">Human Relations</a></li>
                <li><a href="#">Directors</a></li>
              </ul>
            </li>   

            <li><a href="#">Ellen G. White</a></li>

            <li>
              <span class="opener">Authors</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Church Leaders</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Ministers</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Missionaries</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Civil Rights</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Musicians</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">People</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Cities</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Churches</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Oakwood</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Academies/span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Message Magazine</span>
              <ul>
                <li><a href="#">New-Wave</a></li>
                <li><a href="#">Book of the Month</a></li>
              </ul>
            </li>

            <li><a href="#">Breath of Life</a></li>

            <li>
              <span class="opener">Essays</span>
              <ul>
                <li><a href="#">Books</a></li>
                <li><a href="#">Periodicals</a></li>
                <li><a href="#">Selected Documents</a></li>
                <li><a href="#">Spectrum Articles</a></li>
                <li><a href="#">Academic Works</a></li>
              </ul>
            </li>

            <li>
              <span class="opener">Photo Collections</span>
              <ul>
                <li><a href="#">Books</a></li>
                <li><a href="#">Periodicals</a></li>
                <li><a href="#">Selected Documents</a></li>
                <li><a href="#">Spectrum Articles</a></li>
                <li><a href="#">Academic Works</a></li>
              </ul>
            </li>

            <li><a href="#">Obituaries</a></li>
            <li><a href="#">Early Black Adventists</a></li>


            <li>
              <span class="opener">C.D. Brooks</span>
              <ul>
                <li><a href="#">Books</a></li>
                <li><a href="#">Periodicals</a></li>
                <li><a href="#">Selected Documents</a></li>
                <li><a href="#">Spectrum Articles</a></li>
                <li><a href="#">Academic Works</a></li>
              </ul>
            </li>

            <li><a href="#">SDA Beliefs</a></li>
            <li><a href="#">SDA Statistics</a></li>
            <li><a href="#">Contributers</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
